@for $i from 1 through 5
    .m-#{$i}
        margin: #{$i}rem !important

@for $i from 1 through 5
    .mt-#{$i}
        margin-top: #{$i}rem !important

@for $i from 1 through 5
    .mb-#{$i}
        margin-bottom: #{$i}rem !important

@for $i from 1 through 5
    .ml-#{$i}
        margin-left: #{$i}rem !important

@for $i from 1 through 5
    .mr-#{$i}
        margin-right: #{$i}rem !important

@for $i from 1 through 5
    .my-#{$i}
        margin: #{$i}rem 0 !important

@for $i from 1 through 5
    .mx-#{$i}
        margin: 0 #{$i}rem !important
