/// Grid
%padding
    padding-left: 1rem
    padding-right: 1rem
    box-sizing: border-box

.container
    width: 100%
    max-width: 1200px
    margin: 0 auto
    @extend %padding


.container-fluid
    width: 100%
    @extend %padding

.row
    width: 100%
    box-sizing: border-box
    @include set-prefix(display, flex, $prefixes)
    @include set-prefix(align-items, center, $prefixes)
    flex-wrap: wrap
    flex-direction: row

@for $i from 1 through $columns
    .col-#{$i}
        @if $i == '12'
            width: 100%
        @else
            width: 100% * $i / $columns
        min-height: 1px
        box-sizing: border-box
        border: 1px solid mediumspringgreen

        @each $key, $value in $grid-breakpoints
            @include respond-to($key)
                @if $value <= 480px
                    width: 100%
                @else if $value <= 768px
                    @if $i == 12
                        width: 100%
                    @else
                        width: 50%
                        align-self: flex-end
                @else
                    width: 100% * $i / $columns
