$white: #fff !default
$primary: orange !default
$secondary: #e9e9e9 !default
$black: #000 !default

$font-family-sans-serif: "Helvetica Light", sans-serif !default
$font-family-monospace: "Roboto Mono", monospace !default

$prefixes: ('webkit', 'moz', 'ms', 'o')

$columns: 12 !default

$grid-breakpoints: ('xs': 0, 'sm': 320px, 'md': 768px, 'lg': 1024px, 'xl': 1200px) !default
